<html>
<header>
<script type="text/javascript" th:src="@{js/drawing.js}"></script>
</header>
<body onload="init()">
	<canvas id="can" width="100" height="100"
		style="position: absolute; top: 10%; left: 10%; border: 2px solid;"></canvas>
	<img id="canvasimg" style="position: absolute; top: 10%; left: 52%;">
	</img>
	<div id="prediction_container" style="position: absolute; top: 10%; left: 20%; border: 2px solid; padding:2px">
		
		<label id="out_0">0=  0%</label><br />
		<label id="out_1">1=  0%</label><br />
		<label id="out_2">2=  0%</label><br />
		<label id="out_3">3=  0%</label><br />
		<label id="out_4">4=  0%</label><br />
		<label id="out_5">5=  0%</label><br />
		<label id="out_6">6=  0%</label><br />
		<label id="out_7">7=  0%</label><br />
		<label id="out_8">8=  0%</label><br />
		<label id="out_9">9=  0%</label><br />
		
		
	</div>
	
</body>
</html>